html {
    background: linear-gradient(to bottom, rgb(94, 94, 94), rgb(50, 50, 50));
}
body {
    margin: 0;
}
.titleText {
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #000000;
}
.subtitleText {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #000000;
}
.categoryText {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #000000;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e2aa3a;
    padding: 20px;
    height: 15px;
}
#mysteryMansion {
    padding-top: 300px;
}
.images {
    align-items: flex-end;
    display: flex;
}