html {
    background: linear-gradient(to bottom, rgb(94, 94, 94), rgb(50, 50, 50));
    background-attachment: fixed;
    background-repeat: no-repeat;
}
body {
    margin: 0;
}
.titleText {
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #000000;
}
.subtitleText {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #000000;
}
.categoryText {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #000000;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e2aa3a;
    padding: 20px;
    height: 15px;
}
#mysteryMansion {
    padding-top: 500px;
}
.categoryBox {
    display: flex;
    align-items: center;
    background-color: #2b2b2b;
    padding: 20px;
    height: 30px;
}
.images {
    border-radius: 10px;
    flex-wrap: wrap;
    background-color: #0e0e0e;
    align-items: flex-end;
    display: flex;
}
.background2 {
    background-color: #0e0e0e;
    height: 200px;
}